.btn-custom {
  background: #444;
  border: none;
  outline: 0;
  border-radius: 10px;
  height: 40px;
  width: 180px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 12px 18px -3px rgba(0, 0, 0, 0.46);
  &:hover {
    color: #64b5f6;
  }
  &:active {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }
}
