.skills {
  margin-top: 90px;
  margin-bottom: 72px;
  .skill_title {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    .skill_span {
      border-bottom: 3px solid #11abb0;
      padding-bottom: 6px;
    }
  }
  .heading_6 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    .item {
      cursor: pointer;
      color: white;
      box-shadow: 0px 12px 18px -3px rgba(3, 155, 229, 0.46);
      // background-color: #039be5;
      width: max-content;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 10px;
      padding-left: 10px;
      border-radius: 999px;
      font-size: 14px;
      margin: 5px;
    }
  }
}
@media (max-width: 767.98px) {
  .skills {
    text-align: center;
    .items {
      justify-content: center;
    }
  }
}
