.topic_stats {
  margin-top: 72px;
  .title {
    font-size: 28px;
  }
  .desc {
    color: black;
    font-size: 16px;
  }
  .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
