.navbar {
  z-index: 14;
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }
  .navbar-brand {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    background: -webkit-linear-gradient(rgb(236, 236, 236), rgb(217, 226, 235));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1.2px;
  }
  .navbar-nav {
    .nav-item {
      margin-right: 10px;
      .nav-link {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 1.2px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.568);
      }
    }
  }
}
.active-blue {
  color: black !important;
  text-shadow: none !important;
}
.scroll {
  animation: example 0.5s ease-in-out;
  background: linear-gradient(
    90deg,
    rgba(24, 182, 191, 0.7) 6%,
    rgba(39, 150, 204, 0.7) 45%,
    rgba(0, 129, 255, 0.7) 100%
  );
  backdrop-filter: blur(20px);
}
@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 360px) and (max-width: 992px) {
  .active-blue {
    color: #1e88e5 !important;
  }
  .navbar {
    background: #f8f9fa !important;
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.34);

    .navbar-brand {
      background: -webkit-linear-gradient(
        rgb(132, 124, 246),
        rgb(245, 17, 233)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .navbar-nav {
      text-align: center;
      .nav-item {
        .nav-link {
          color: black;
          text-shadow: none !important;
        }
      }
    }
  }
}
